.user-page-tbl .pagination>li {
    display: inline-block;
    text-align: center;
}

.admin-tbl-cls .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border:none !important;
}

.user-page-tbl td .btn {
    display: inline;
}
@media(max-width:1920px) {
    .dtble-btn.dataTable {
        width: 100% !important;
    }
    
}
@media(max-width:1600px) {

}
@media(max-width:1280px) {
    
}
@media(max-width:1199px) {
    .review-section form .black-btn {
        padding: 5px 15px;
    }

    .property-color ul li {
        margin:5px 2px;
    }
    
}
@media(max-width:1024px) {
	.plan-flx .plans, .plan-flx .active_plans {
	    flex: 0 0 40%;
	}

    .mbl-actn-btn {
        display: block;
    }

    .dropdown.dsktp-actn-btn {
        display: none;
    }

    .mbl-actn-btn .btn {
        padding: 2px 5px;
        font-size: 12px;
        margin-bottom: 3px;
    }

	.plan_detail {
	    padding: 0px 0 0px 0;
	    margin: 40px 0px 40px 0;
	}

    .admin-tbl-cls .btn {
        padding: 2px 5px;
    }

    .dtble-btn .btn {
        padding: 2px 5px;
    }

}
@media(max-width:991px) {
    .agent-detail .detail {
        padding: 10px 5px;
    }

    .cstm-author-list .col-md-3.col-sm-6.col-xs-12.author-area {
        margin-bottom: 30px;
    }

    .footer, .leaveReview {
        float: left;
        width: 100%;
        text-align: left;
    }

    .advance_search .row-width .col-xs-12 {
        width: 100%;
    }

    .plan-flx .plans, .plan-flx .active_plans {
	    flex: 0 0 45%;
	}

    .admin-tbl-cls {
        table-layout: fixed;
        word-break: break-all;
    }

    .admin-profile .dropdown-toggle.admin-img {
        display: inline;
    }

    .property-color.apartmentshow ul li {
        width: 26px;
    }
}
@media(max-width:980px) {

}
@media(max-width:800px) {
    
}
@media(max-width:768px) {
    .navbar-toggle {
        margin: 15px;
    }

}
@media(max-width:767px) {
    .company_work .fa {
        font-size: 50px;
    }

    .cms-border {
        border-left:none;
    }

    .apartmentshow .apartmentshow-inner {
        border: 1px solid #c2c2c2;
        padding: 5px;
        box-sizing: border-box;
        float: none; 
        max-height: unset;
        max-width: unset;
        overflow-y: unset;
        overflow-x: unset;
        width: auto;
    }

    .error-flx-prnt {
    	height: calc(100vh - -50px);
    	flex-wrap:unset;
    }

    .navbar-brand>img {
        width: 250px;
    }

    .navbar-nav {
        margin-top: 0px !important; 
    }

    .footer-widget .fleft.img-responsive {
        width: 250px;
    }

    .footer-widget .newsletter input {
        width: calc(100% - 100px);
    }

    .footer-widget h4 {
        padding-bottom: 0px;
    }

    .cms-inner-content {
        margin: 20px 0;
    }

    .cms-table th, .cms-table td {
        font-size: 14px;
    }

    .cms-table.table>thead>tr>th,
    .cms-table.table>tbody>tr>th,
    .cms-table.table>tfoot>tr>th,
    .cms-table.table>thead>tr>td,
    .cms-table.table>tbody>tr>td,
    .cms-table.table>tfoot>tr>td {
        vertical-align: middle;
    }

    .agnt-flxinr {
        width: 31%;
        margin: 0 1%;
    }

    .agnt-flx {
        -webkit-justify-content: flex-start; 
        justify-content: flex-start;
    }

    .user-page-tbl .pagination {
        float: none;
    }

    .table-responsive>.table-bordered.admin-smple-tbl-cls>tbody>tr:last-child>td {
        border-bottom: 1px solid #ddd;
    }

    .dataTables_paginate .pagination {
        float: none;
    }

    .admin-profile .dropdown-toggle.admin-img {
        display: inline-block;
        margin-left: 0px;
    }

    .navbar-nav .open.admin-profile .dropdown-menu.admin-dropdown {
        left:0px;
    }

    .admin-dropdown .fa-caret-up {
        left:10px;   
    }

    .contact-col {
        padding: 30px;
    }

}
@media(max-width:640px) {
    .company_work .fa {
        font-size: 36px;
    }

    .dtble-btn.dataTable {
        width: 100% !important;
    }

    #page-wrapper .panel-body {
	    padding: 5px 5px;
	}

    .contact_detail.cntct-flx {
    	display: none;
    }

    .company_work h4, .feature-text h4 {
        font-size: 22px;
    }

    .company_work h5, .feature p {
        font-size: 16px;   
    }

    .about_us .col-lg-6.col-md-6.col-sm-6.col-xs-6 {
        width: 100%;
        text-align: center;
    }

    .about_us .about_more {
        text-align: center;
    }

    .about_us img.img-responsive {
        display: inline-block;
    }

    .agnt-flxinr {
        width: 48%;
        margin: 0 1%;
    }

    .pricing_plan h4, .pricing_plan h6 {
    	margin:10px 0;
    }

    .plan-flx {
	    -webkit-box-align: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    flex-direction: column;
	}

	.plan-flx .plans, .plan-flx .active_plans {
	    padding: 10px;
	    flex: 0 0 45%;
	    width: 70%;
	    max-width: 70%;
	}

    .cstm-tbl-cls .three-btns-actn .float-left {
        display: none;
    }

    .cstm-tbl-cls .three-btns-actn .property-img {
        width: 100%;
    }

}

@media(max-width: 520px) {
    .topContactInfo.center-info {
        display: none;
    }
}
@media(max-width: 480px) {
    .company_work .fa {
        font-size: 24px;
    }

    .company_work h4, .feature-text h4 {
        font-size: 18px;
    }

    .company_work h5, .feature p {
        font-size: 14px;   
    }

    .featureflex .fleft.img-responsive {
        width: 30px;
    }

    .col-text {
        margin-left: 5px;
    }

    .feature-text {
        margin-left: 35px;
    }

    .plan-flx .plans, .plan-flx .active_plans {
	    padding: 10px;
	    flex: 1;
	    width: 100%;
	    max-width: 100%;
	}

    .singl-agnt h4 {
        font-size: 18px;
    }

    .singl-agnt .img-or-nm img {
        width: 55px;
        height: 55px;
    }

    .singl-agnt-img-wrp {
        padding: 10px;
    }

    .black-btn, .btn.btn-default.otlin-btn {
        padding:10px;
    }

}
@media(max-width:450px) {
    .topContactInfo.center-info {
        display: none;
    }

    .company_work .d-flx {
        flex-direction: column;
    }

    .company_work .flx-inr {
        margin-bottom: 20px;
        -webkit-box-align: flex-start;
        -moz-box-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .company_work .fa {
        font-size: 44px;
    }

    .company_work h4 {
        font-size: 30px;
    }

    .company_work h5 {
        font-size: 20px;
    }

    .featureflexinr {
        width: 100%;
        margin: 2% 0% 2% 0%;
    }

    .company_work .flx-inr:last-child {
        margin-bottom: 0px;
    }
}
@media(max-width:400px) {
    .property-color.apartmentshow ul li {
        width:24px;
    }
}
@media(max-width:360px) {
    .navbar-brand>img {
        width: 180px;
    }

    .agnt-flxinr {
        width: 100%;
        margin: 0;
    }

    .agnt-flxinr .img-responsive {
        width: 100%;
    }

    #page-wrapper .panel-body .table.table-bordered {
	    border: 1px solid #ddd;
	    table-layout: fixed;
	    word-break: break-all;
	    padding:5px;
	}

    #page-wrapper .panel-body .table {
    	margin-bottom: 0px;
    }

    .table.admin-tbl-cls tr td {
        padding: 5px;
    }

    .property-color.apartmentshow ul li {
        width: 20px;
        height: 20px;
    }

}
@media(max-width:320px) {

}