/* ========================================================================== Themeqx Classified style.css 28/08/2015 url: classifieds.themeqx.com ========================================================================== */
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
*/
 body {
    /*background: #e9eaed;
    */
    /* font-family: 'Roboto', sans-serif;
     */
    font-family: 'Proxima Nova';
}
 a{
    text-decoration: none !important;
    color: #2c3e50;
}
 .fleft{
    float: left;
}
 .clearfix{
    float: left;
    width:100%;
}
 h3{
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 25px;
}
 h6, p{
    color:#888787;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 17px;
    font-size: 15px;
    margin-top:4px;
    font-weight: normal;
}
/* ========================================================================== color-dodger-blue.css ========================================================================== */
 a:hover{
    color: #22313f;
}
 .section-header{
    border-left: 2px solid #1E8BC3;
}
 .ads-item-thumbnail .caption a{
    color: #333333;
}
 .ads-item-thumbnail .caption a:hover{
    color: #1E8BC3;
}
 .ads-item-thumbnail .social-icons{
    border-top: 2px solid #1E8BC3;
}
 .label-premium {
    background-color: #1E8BC3;
}
 .label-new {
    background-color: #e87e04;
}
 .theme-btn{
    background-color: #1E8BC3;
}
 .theme-btn:hover{
    background: #2980b9;
    color: #ffffff;
}
 .pad-0{
    padding:0;
}
 .price-title h2{
    color: #1E8BC3;
}
/** End variation color code */
/** Common for all theme */
 .green i{
    color: #26C281;
}
 .green hr{
    border-color: #26C281;
}
 .gold i{
    color: #E87E04;
}
 .gold hr{
    border-color: #E87E04;
}
 .purple i{
    color: #1F3A93;
}
 .purple hr{
    border-color: #1F3A93;
}
 .orange i{
    color: #F64747;
}
 .orange hr{
    border-color: #F64747;
}
 .brick i{
    color: #96281B;
}
 .brick hr{
    border-color: #96281B;
}
 .blue i{
    color: #4B77BE;
}
 .blue hr{
    border-color: #4B77BE;
}
 .honey i{
    color: #34495e;
}
 .honey hr{
    border-color: #34495e;
}
 .ads-detail, .sidebar-widget, div.sidebar-filter-wrapper, div.listing-nav, div.listingTopFilterBar{
    border-top: 2px solid #1E8BC3;
}
 .footer-widget.footer-address a {
    color: #fffff6;
    font-size: 15px;
}
 .footer-call{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
 .footer-widget .fa{
    color:#fff;
    font-size: 16px;
    margin-right: 8px;
    float: left;
}

.footer-widget .social-ul .fa {
    color: #fff;
    font-size: 16px;
    margin-right: 0;
    float: none;
    width: 100%;
}
 .footer-widget address{
    margin-bottom: 10px;
    float: left;
    width:100%;
}
 .has-error .help-block{
    font-size: 13px;
}
/* .social-ul a {
     color: #fff;
}*/
.social-ul a {
    color: #fff;
    display: inline-block;
}
 .footer-bottom a {
    color: #fff;
}
 ul{
    padding:0;
    margin:0;
    list-style-type:none;
}
/** End Common for all theme */
/** make bootstrap flat */
 .form-control {
    border-radius: 1px;
    box-shadow: none;
    color: #555;
    padding: 6px 12px;
    height: 35px;
    font-weight: 600;
}
 .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    box-shadow: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
 .btn {
    background-image: none;
    border-radius: 1px;
}
 .btn:focus {
    background-image: none;
}
 .navbar-default {
    background-image: none;
    background: #ffffff;
    background-repeat: repeat-x;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.075);
    margin-bottom: 0;
}
 .navbar-brand{
    height:auto;
}
 .topContactInfo ul li a.nav_text{
    color:#82878d;
}

.navbar-nav{
    margin-top:22px !important;
}
 .nav>li>a{
    padding:10px 8px;
}

 .navbar-default .navbar-nav>li>a.notify{
    font-size: 13px;
    text-transform: initial;
    background: none;
    box-shadow: none;
}
 .navbar-default .navbar-nav>li .fa-search{
    font-size: 20px;
}
 .navbar-default .navbar-nav>li>a.notify img{
    margin-right: 7px;
}
 .login_right .nav>li>a{
    padding:10px 4px;
}
 .navbar-default .navbar-nav>li>a{
    font-family: 'Roboto', sans-serif;
    color:#585858;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
 .bg-white{
    background: #ffffff;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
}
/* end make bootstrap flat */
/** header-nav-top */
 .header-nav-top{
    background: #2C3E50;
}
 .topContactInfo ul li a {
    /*margin-top: 5px;*/
}
 .topContactInfo ul li a {
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    color: #ffffff;
}
 .topContactInfo .fa {
    font-size: 15px;
    margin-right:5px;
}
 .topContactInfo ul li a:hover {
    background: none;
}
/** header-nav-top */
/* section-header */
 .section-header{
    padding: 15px 10px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
 .section-header .icon{
    float: left;
    font-size: 25px;
    padding-right: 10px;
}
 .section-header-text {
    /*float: left;
    */
}
 .container .search-wrapper h6{
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: 400;
}
 .navbar-default .dropdown-menu.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height: 313px;
    max-height: 313px;
    border-top:3px solid #d8d8d8;
}
 .nav>li>a:focus{
    background-color:transparent;
}
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent !important;
}
 .notify-drop .fa-sort-asc{
    position: absolute;
    right: 10px;
    top:-11px;
    color:#d8d8d8;
    font-size: 22px;
}
 .allRead {
    color:#00aeef;
    font-size: 12px;
}
 .notify-drop .fa-envelope{
    color:#00aeef;
    font-size: 15px;
    margin-top:3px;
    float: left;
    margin-right: 10px;
}
 .fa-ellipsis-v{
    margin-top:3px;
    font-size: 18px !important;
}
 .drop-content p{
    font-size: 13px;
    color: #2c3e50;
    margin: 0px;
}
 .drop-content span{
    color:#b5b5b5;
    font-size: 13px;
}
 .drop-content li{
    padding:10px 15px 0px 15px;
}
 .navbar-default .dropdown-menu.notify-drop .notify-drop-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 0px 15px 5px 15px;
}
 .navbar-default .dropdown-menu.notify-drop .drop-content {
    min-height: 240px;
    max-height: 240px;
}
/* end section-header */
/* category css */
 .category-single-box{
    padding: 10px;
    min-height: 220px;
    margin: 5px 0;
    text-align: center;
}
 .category-single-box i{
    display: block;
    font-size: 35px;
    margin-bottom: 10px;
}
 .category-single-box h4{
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 5px;
}
 .category-single-box h4 a{
    display: block;
}
 .category-single-box h4 a span.category-name{
    color: #0f0f0f;
}
 .category-single-box hr {
    border-width: 2px;
    margin: 5px 0;
}
 .category-single-box p.count{
    font-size: 12px;
    margin-bottom: 5px;
}
/* end category css */
/* Ads post single thumbnail */
 .ads-item-thumbnail{
    /*border: 7px solid #f9f9f9;
    */
    margin: 5px 0;
    text-align: center;
    position: relative;
    min-height: 355px;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
}
 .ad-box-premium{
    /*border:7px solid #f8efc0;
    */
    /* background: #fffcdd;
     */
    /* box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
     */
}
 .ad-box-regular{
    /*border:7px solid #f9f9f9;
    */
    background: #ffffff;
    /* box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
     */
}
 .ads-item-thumbnail:hover{
    border-color:#eeeeee;
}
 table tr.ad-premium{
    background: #fffcdd !important;
}
 .ads-item-thumbnail .ads-thumbnail img{
    width: 100%;
    max-height: 260px;
}
 .ads-item-thumbnail .caption{
    text-align: left;
}
 .ads-item-thumbnail .caption h4{
    font-size: 19px;
    margin-top: 15px;
    font-weight: 600;
}
 .ads-item-thumbnail .caption a{
    display: block;
}
 .ads-item-thumbnail .caption p{
    margin-bottom: 3px;
    color:#333;
}
 .ads-item-thumbnail .caption p.date-posted{
    font-size: 12px;
}
 .ads-item-thumbnail .caption p.price{
    font-weight: bold;
}
 .ads-item-thumbnail .social-icons{
    margin-top: 8px;
    padding-top: 5px;
}
 .ads-item-thumbnail .social-icons ul{
    width: 100%;
}
 .ads-item-thumbnail .social-icons ul li{
    float: none;
    display: inline-block;
}
 .ads-item-thumbnail .social-icons .navbar-nav > li > a{
    padding: 0;
}
 .social-icons ul li a i {
    padding: 8px 7px;
    transition: all 0.5s ease 0s;
}
 .social-icons ul li a i:hover {
    color: #fff;
    transition: all 0.5s ease 0s;
}
 /*.social-icons .fa-facebook:hover {
     background: #0083c9 none repeat scroll 0 0;
}
.social-icons .fa-twitter:hover {
     background: #5bbcec none repeat scroll 0 0;
}
/* .social-icons .fa-linkedin:hover {
     background: #ff4518 none repeat scroll 0 0;
}
 .social-icons .fa-dribbble:hover {
     background: #90c9dc none repeat scroll 0 0;
}
 .social-icons .fa-google-plus:hover {
     background: #ce3c2d none repeat scroll 0 0;
}*/
 .label-new, .label-premium{
    position: absolute;
    top:0;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
 .label-new{
    left: 26px;
}
 .label-premium{
    right: 0;
}
 .theme-btn-wrapper{
    margin-bottom: 5px;
    margin-top: 5px;
}
 .theme-btn{
    color: #ffffff;
}
/* End Ads post single thumbnail */
/* Footer */
 .newsletter input{
    padding:0px 10px;
    border:1px solid #7d8fa2;
    border-radius: 3px;
    background: none;
    color:#fff;
    font-size: 14px;
    height: 37px;
}
 .newsletter input:focus{
    outline:none;
}
 .newsletter button{
    background: #00aeef;
    margin-left: -5px;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
    padding:0px 25px;
    border:none;
    height:37px;
    border-radius: 3px;
}
 .footer{
    /*margin-top: 10px;
    */
}
 .footer-top{
    background: #2c3e50;
    color: #fffff6;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 300;
}
 .newsletter ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #7d8fa2;
}
 .newsletter ::-moz-placeholder {
    /* Firefox 19+ */
    color: #7d8fa2;
}
 .newsletter :-ms-input-placeholder {
    /* IE 10+ */
    color: #7d8fa2;
}
 .newsletter :-moz-placeholder {
    /* Firefox 18- */
    color: #7d8fa2;
}
 address span{
    float: left;
}
 .footer-top ul.footer-menu{
    padding-left: 0;
}
 .footer-top ul.footer-menu li{
    list-style: none;
}
 .footer-top ul.footer-menu li a{
    color: #eeeeee;
}
 .footer-widget h4{
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}
 .footer-bottom{
    background: #213140;
    line-height: 40px;
    font-size: 12px;
    border-top: 1px solid #2C3E50;
    color: #ffffff;
}
 .footer-bottom p{
    margin-bottom: 0;
    text-align: center;
    color:#fffff6;
    font-weight: 300;
    font-family: 'Proxima Nova';
}
 .footer-top .social-icons .navbar-nav > li > a{
    padding: 0;
}
 .footer-widget ul.social-ul{
    text-align: left;
    padding:0;
    margin-top: 10px;
    transition: all 0.6s ease 0s;
}

.fb:hover {
    background-color: #0083c9;
    transition: all 0.6s ease 0s;
}

.tw:hover {
    background-color: #5bbcec;
    transition: all 0.6s ease 0s;
}

.inked:hover {
    background-color: #ff4518;
    transition: all 0.6s ease 0s; 
}

.dribl:hover {
    background-color: #90c9dc;
    transition: all 0.6s ease 0s; 
}

.gplus:hover {
    background-color: #ce3c2d;
    transition: all 0.6s ease 0s; 
}

.utub:hover {
    background-color: #ff0000;
    transition: all 0.6s ease 0s; 
}


/* .footer-widget ul.social-ul li{
     display: inline-block;
}*/
.footer-widget ul.social-ul li {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
}
 p.newslatter-infp{
     margin: 10px 0;
}
/* End Footer */
/* select2 css */
 .search-wrapper .select2-container .select2-choice{
    height: 34px;
    line-height: 32px;
    min-width: 200px;
}
/*carousel */
/*.carousel-control.right, .carousel-control.left{
     background: none;
}
*/
/* Price plan */
 .price-plan-item{
    padding: 10px;
    text-align: center;
}
 .price-title{
    padding: 10px 0;
}
 .price-title h2{
    margin: 0;
}
/* Price plan */
/** Ads Single Page */
 .ads-detail{
    padding: 20px;
    margin-top: 10px;
}
 h2.ad-title{
    font-weight: 300;
    margin: 0;
}
 .sidebar-widget{
    background: #ffffff;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 10px;
}
 .sidebar-widget h3{
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #dddddd;
    font-weight: 300;
}
 .ads-detail-title{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}
 .sidebar-user-info h5{
    margin: 0;
}
 .sidebar-user-link{
    margin: 10px 0;
}
 ul.ad-action-list{
    margin: 10px 0 0 0;
    padding: 0;
}
 ul.ad-action-list li{
    list-style: none;
}
 ul.ad-action-list li a{
    line-height: 30px;
}
 .single-at-a-glance{
    margin-bottom: 20px;
}
 .single-at-a-glance ul li{
    background: #fafafa;
    border-right: none;
}
 .sidebar-feature-agents{
    background: #fafafa;
    padding: 10px;
    margin: 5px 0;
}
 .sidebar-feature-agents h5{
    margin: 0;
}
 .sidebar-feature-agents p{
    margin: 0;
}
/**Login Page **/
 div.login{
    background: #ffffff;
    /* box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
     */
    padding: 20px;
    margin:50px 0 70px 0;
}
 .login .authTitle {
    text-align: center;
    line-height: 300%;
    margin-top: 0;
}
 .btn-primary{
    background: #2d3e50;
    text-transform: uppercase;
    font-weight: 600;
}
 .login .socialButtons a {
    color: white;
    opacity:0.9;
}
 .m-t-20{
    margin-top:20px;
}
 .login .socialButtons a:hover {
    color: white;
    opacity:1;
}
 .new_register{
    color:#000000;
    text-align: center;
    font-size: 14px;
    margin-top:15px;
}
 .new_register a{
    color:#327ab5;
    text-decoration: underline !important;
}
 .login .socialButtons .btn-facebook {
    background: #3b5998;
}
 .login .socialButtons .btn-twitter {
    background: #00aced;
}
 .login .socialButtons .btn-google {
    background: #c32f10;
}
 #send_reset_link {
    background: #2d3e50;
}
 .login .loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
 .login .loginOr .hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
 .login .loginOr .spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}
 .login .loginForm .input-group.i {
    width: 2em;
}
 .login .loginForm .help-block {
    color: red;
}
 @media (min-width: 768px) {
     .login .forgotPassword {
        text-align: right;
        margin-top:10px;
    }
}
/** Register page */
 div.info-box{
    background: #ffffff;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}
 div.info-box h4 i{
    font-size: 40px;
}
/** Listing page */
 div.sidebar-filter-wrapper{
    background: #ffffff;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10px;
}
 div.listing-nav{
    background: #ffffff;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}
 div.listing-nav ul.nav li{
    display: inline-block;
}
 ul.list-grid-view{
    float: right;
}
 .form-control.select2-container{
    height: 35px !important;
}
 .select2-container .select2-choice{
    height: 33px;
    line-height: 33px;
    background-image: none;
}
 .login textarea{
    height: 110px;
}
/** Loading Overlay **/
/* Absolute Center Spinner */
 #loadingOverlay {
    background: #000000;
    position: fixed;
    top: 0;
    opacity: 0.9;
    z-index: 1050;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
 .circleLoader {
    border: 12px solid #f3f3f3;
    /* Light grey */
    border-top: 12px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 10% auto 0;
}
 @keyframes spin {
     0% {
        transform: rotate(0deg);
    }
     100% {
        transform: rotate(360deg);
    }
}
/* Transparent Overlay */
/** End Loading Overlay **/
 .listingTopFilterBar{
    min-height: 50px;
    background: #ffffff;
    margin-top: 10px;
}
 ul.filterAdType{
    margin: 0 0 0 3px;
    padding: 0;
}
 ul.filterAdType li{
    display: inline-block;
    list-style: none;
    margin-left: -3px;
}
 ul.filterAdType li a{
    display: block;
    line-height: 48px;
    padding: 0 20px;
    color: #777777;
}
 ul.filterAdType li.active a, ul.filterAdType li a:hover{
    background: #f4f4f4;
    color: #000;
}
 ul.listingViewIcon li{
    display: inline-block;
    list-style: none;
}
 ul.listingViewIcon li a{
    line-height: 50px;
    padding: 0 10px;
    color: #777777;
}
 ul.listingViewIcon li a:hover{
    color: #000000;
}
 ul.listingViewIcon li.shortByListingLi ul li{
    display: block;
}
 ul.listingViewIcon li.shortByListingLi ul li a{
    line-height: 30px;
}
 .error-404-wrap{
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.error-flx-prnt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 200px);
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.nthng-fnd {
    font-size: 16px;
    letter-spacing: 5px;
    color: #366496;
    margin: 0;
}

.err {
    color: #313131;
    font-size: 150px;
    margin: 0;
}

.sry {
    color: #313131;
    font-size: 30px;
    margin: 0;
    text-transform: unset;
    letter-spacing: 2px;
}

.undr-sry {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 15px 0;
}

.btn.btn-custom.bk-t-hm {
    background-color: #fff;
    padding: 12px 25px;
    border-radius: 27px;
    color: #366496;
    font-size: 18px;
    border: 2px solid #366496;
    font-weight: 600;
    transition: all 0.6s ease 0s;
}

.btn.btn-custom.bk-t-hm:hover {
    background-color: #366496;
    color: #fff;
    transition: all 0.6s ease 0s;
}

 .checkbox-inline > input {
    margin-top: 0 !important;
}
 .ad-box-list-view, .ad-box-premium-wrap{
    background: #ffffff;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
 #cropContainerHeaderButton:hover {
    background: #1CD139;
}
 .optionsDiv{
    border-radius:2px;
    position:absolute;
}
 .optionsDiv a{
    width:50%;
    margin-right:20%;
    float:left;
    margin-bottom:10px;
    cursor:pointer;
}
 #cropContainerEyecandy{
    width:700px;
    height:200px;
    position: relative;
    border:1px solid #ccc;
}
 #changeAvatar{
    width:300px;
    height:300px;
    position: relative;
    border:1px solid #ccc;
}
 .margin-bottom-40{
    margin-bottom: 40px;
}
 .jumbotron-xs{
    padding: 20px 15px;
}
 .profile-avatar{
    margin-bottom: 20px;
    width: 150px;
    position: relative;
}
 .page_wrapper{
    min-height: 400px;
}
/** Blog **/
 .blog-breadcrumb .breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
    margin-top: 12px;
    text-align: right;
}
 .jumbotron h2{
    margin-bottom: 13px;
    margin-top: 10px;
}
 #blog-listing .post {
    margin-bottom: 50px;
}
 #blog-listing .post h2 {
    font-size: 24px;
    margin: 0 0 10px;
}
 #blog-listing .post .author-category, #blog-single .post .author-category {
    color: #999999;
    float: left;
    font-size: 12px;
    font-weight: 300;
}
 #blog-listing .post .date-comments, #blog-single .post .date-comments {
    float: right;
    font-size: 12px;
}
 #blog-listing .post .read-more {
    text-align: right;
}
 section.post .blog-title{
    color: #666666;
}
 .pagination_wrap {
    text-align: center;
}
 #blog-single hr{
    margin-top: 0;
}
 .comments-title {
    text-align: center;
}
 .home-latest-blog .post h2{
    font-size: 18px !important;
    font-weight: 300;
}
 .home-latest-blog #blog-listing .post{
    margin-bottom: 20px;
}
 .home-latest-blog {
    margin-top: 20px;
}
 h2.blog-post-title a{
     color: #444;
}
 table.slideShow img{
     max-width: 300px;
}
/** center width bootstrap carousel */
 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
     margin: 0 auto;
}
/*
21 Dec img.thumb-listing-table {
     max-width: 90px !important;
}*/
/*********************************************************************** * Modern Theme Started * ************************************************************************/
 .modern-home-cat-wrap{
     padding: 20px 0;
}
 .modern-home-cat-wrap ul.modern-home-cat-ul li {
    display: inline-block;
    text-align: center;
}
 .modern-home-cat-wrap ul.modern-home-cat-ul li a{
    color: #6b7c93;
    font-weight: 400;
    font-size: 16px;
    -webkit-transition: 100ms;
    /* Safari */
    transition: 100ms;
    display: block;
    padding: 15px;
    width: 175px;
}
 .modern-home-cat-wrap ul.modern-home-cat-ul li a:hover {
    color: #2c3e50;
}
 .modern-home-cat-ul .fa {
    display: block;
    font-size: 40px;
    margin: 10px 0;
}
 .modern-home-cat-ul .count {
    color: #ccc;
    font-size: 12px;
}
 .modern-home-cat-with-sub-wrap{
    margin-top: 50px;
}
 .modern-cat-list-with-sub-wrap {
    border: 1px solid #dddddd;
    display: inline-table;
    height: 250px;
    margin: 5px 5px 35px;
    padding: 10px;
    width: 265px;
}
 .modern-home-cat-top-item a{
    color: #6b7c93;
    font-weight: 400;
    font-size: 16px;
    -webkit-transition: 100ms;
    /* Safari */
    transition: 100ms;
}
 .modern-home-cat-top-item .fa {
    display: block;
    font-size: 30px;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 50%;
    margin: -40px auto 0;
    padding: 20px;
    text-align: center;
    width: 80px;
}
 .modern-home-search-bar-wrap {
    padding-bottom: 20px;
    text-align: center;
}
 .modern-top-intoduce-section{
    /*background: #f9f2f4;
    */
    padding: 30px 0;
    background-image: url("../img/themeqx-cover.jpeg");
    /*background-attachment: fixed;*/
    background-position: 0 50%;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: cover;
    position: relative;
}
 .modern-top-intoduce-section::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}
 .mdern-top-introduce-left {
    color: #fff;
}
 .mdern-top-introduce-left h1{
    margin-top: 0;
}
 .mdern-top-introduce-left h2{
    margin-top: 0;
}
/** Owl Carousel */
 .themeqx-carousel-ads .owl-controls,.themeqx-carousel-blog-post .owl-controls {
    position: absolute;
    right: 0;
    top: -60px;
}
 .themeqx-carousel-ads .owl-controls .owl-prev, .themeqx-carousel-blog-post .owl-controls .owl-prev{
    display: inline;
}
 .themeqx-carousel-ads .owl-controls .owl-next, .themeqx-carousel-blog-post .owl-controls .owl-next{
    display: inline;
}
 .owl-nav .fa {
    border: 1px solid #dddddd;
    color: #6b7c93;
    margin-left: -1px;
    padding: 10px;
}
 .carousel-header a {
    color: #337ab7;
}
 .carousel-header > h4 {
    margin-top: 20px;
}
/** Ribbon label */
 .ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
 .ribbon-green {
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 4px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
 .ribbon-green:before, .ribbon-green:after {
    content: "";
    position:absolute;
}
 .ribbon-green:before {
    left: 0;
}
 .ribbon-green:after {
    right: 0;
}
​, .ribbon-wrapper-red {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
 .ribbon-wrapper-red {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
 .ribbon-red {
    color: #fff;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 4px 0;
    left: -30px;
    top: 15px;
    width: 120px;
    background-color: #ff0000;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
 .ribbon-red:before, .ribbon-red:after {
    content: "";
    position:absolute;
}
 .ribbon-red:before {
    left: 0;
}
 .ribbon-red:after {
    right: 0;
}
​ .themeqx-carousel-blog-post h2 {
    font-size: 18px;
}
 .blog-post-carousel-meta-info {
    font-size: 12px;
    margin: 10px 0;
}
 .themeqx-carousel-blog-post {
    color: #6b7c93;
}
 .themeqx-carousel-blog-post a{
    color: #6b7c93;
}
 .themeqx-carousel-blog-post .owl-item.active > div {
    border: 1px solid #dddddd;
    padding: 10px;
}
 .post-content {
    padding-bottom: 20px;
    padding-top: 20px;
}
 .owl-item h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0;
}
 .ribbon-green-bar{
    display: inline-block;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    padding: 4px 0;
    width: 100px;
    background-color: #BFDC7A;
}
 .ribbon-red-bar{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    width: 100px;
    background-color: #ff0000;
}
 .modern-single-ad-top-description-wrap {
    padding: 20px;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 4%, rgba(209,209,209,1) 15%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(4%, rgba(219,219,219,1)), color-stop(15%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 4%, rgba(209,209,209,1) 15%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 4%, rgba(209,209,209,1) 15%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 4%, rgba(209,209,209,1) 15%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 4%, rgba(209,209,209,1) 15%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}
 .modern-single-ad-top-description {
    background: #fff;
    padding: 20px 0;
}
 .modern-single-ad-price{
    color: #00dd00;
}
 .modern-single-ad-top-description h2.ad-title{
    margin-bottom: 20px;
}
 .modern-social-share-btn-group {
    margin-top: 30px;
}
 .modern-single-ad-breadcrumb {
    padding: 10px 0;
}
 .modern-single-ad-breadcrumb .breadcrumb{
    background: none;
    margin: 0;
    padding: 0;
}
 .modern-single-ad-top-title{
    margin: 10px 0;
}
 .company_work{
    padding: 80px 0;
    margin-top: 20px;
    background-image: url("../img/company_work.jpg");
    background-attachment: fixed;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #ffffff;
}
 .modern-post-ad-call-to-cation::before {
    /* content: "";
     height: 100%;
     left: 0;
     opacity: 0.7;
     position: absolute;
     top: 0;
     width: 100%;
    */
}
 .modern-img-indicator {
     /*margin-top: -35px;
     position: absolute;
     left: 70px;*/
    color: #fff;
    font-size: 12px;
    padding: 0px;
    width: calc(100% - 60px);
    text-align: left;
    float: left;
    margin-left: 10px;
}

 .modern-sale-rent-indicator{
    background: #f26c61;
    border-radius: 30px;
    padding:2px 10px;
    color: #fff;
    font-size: 12px;
    margin-top: -26px;
    position: absolute;
    left: 10px;
    top:35px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
 .estate_category{
    background: #33aa58;
    border-radius: 30px;
    padding:2px 10px;
    color: #fff;
    font-size: 12px;
    margin-top: -26px;
    position: absolute;
    left: 86px;
    top:35px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
 .ad-regular > td, .ad-premium > td {
    position: relative;
}
 .table.property-box-info td {
    border: medium none;
    text-align: left;
}
 .modern-top-hom-cat-section{
    padding: 15px 0;
}

.or-search::before {
    right: 60%;
}

.or-search::after {
    left: 60%;
}

.or-search::after, .or-search::before {
    background-color: #fff;
    content: " ";
    height: 2px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 50%;
}

.or-search {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 18%;
    z-index: 1;
}

.container .search-wrapper h3{
    color: #ffffff;
    font-size: 28px;
    text-transform: initial;
    font-weight: 600;
}
 .listViewItemFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #eeeeee;
    margin: 0;
    padding: 7px;
    color: #9fa4a4;
}
 .listViewItemFooter > span {
    margin-right: 20px;
}
 .totalFoundListingTop {
    line-height: 50px;
    padding-left: 20px;
}
 .search-wrapper .btn{
    font-size: 15px;
    font-weight: 600;
}
 .date-posted{
    color:#fff;
    position: absolute;
    right:10px;
    top:10px;
    font-size: 13px;
}
/* .owl-carousel .owl-item img{
    background: rgba(0,0,0,0.6) 
}
 */
 .ads-thumbnail .price {
    color:#ff958c;
    font-size: 18px;
    font-weight: bold;
    /*position: absolute;
    right:10px;
    margin-top:-37px;*/
}
 .owl-carousel .owl-item .avtar img, .ad-box-grid-view .avtar img{
    width:50px;
    height:50px;
    border-radius: 100%;
    /*position: absolute;
    left:10px;
    margin-top:-57px;*/
}

.ads-thumbnail a {
    position: relative;
    float: left;
    width: 100%;
}

.ads-thumbnail {
    float: left;
    width:100%;
    margin-bottom: 10px;
}

.custom-clr-boxes ul {
    width: 51%;
    float: right;
}

 .user_name{
    /*left: 70px;
    position: absolute;
    margin-top: -55px;*/
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    float: left;
    width: calc(100% - 60px);
    text-align: left;
    margin: 7px 0 0 10px;
}

 hr{
    margin:10px 0;
    border-top:1px solid #ccc;
}
 .caption .fa-map-marker{
    color:#f26c61;
}
 .caption td img{
    width:16px !important;
    height:16px;
    float: left;
    margin-right: 5px;
}
 .view{
    background: #33aa58;
    color:#fff;
    padding: 3px 5px;
    -webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.29);
}
 .view .fa{
    margin-right: 4px;
}
 .feature{
    margin-bottom: 50px;
}
 .premium{
    background: #2d3e50;
    border-radius: 30px;
    padding:2px 10px;
    color: #fff;
    font-size: 12px;
    margin-top: -26px;
    position: absolute;
    left: 86px;
    top:35px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
 .premium-bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf0e4+0,fefdfb+100 */
    background: #fbf0e4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fbf0e4 0%, #fefdfb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fbf0e4 0%,#fefdfb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fbf0e4 0%,#fefdfb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf0e4', endColorstr='#fefdfb',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: 0px -12px 38px -15px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -12px 38px -15px rgba(0,0,0,0.3);
    box-shadow: 0px -12px 38px -15px rgba(0,0,0,0.3);
}
 .company_work .fa{
    float: left;
    font-size: 68px;
}

/*
 21 Dec
 .col-text{
    margin-left: 75px;
 21 Dec
}*/

 .company_work h5{
    font-size: 20px;
    font-weight: 600;
    margin-top:0;
}
 .company_work h4{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}
 .feature p{
    margin:10px 0 0 0;
}
 .feature-text{
    margin-left: 45px;
}
 .feature-text h4{
    margin:0;
    font-size: 20px;
    color:#228726;
    font-weight: 600;
}
 .feature-img img{
    display: inline-block;
    -webkit-box-shadow: 21px 21px 11px -15px rgba(142,221,145,1);
    -moz-box-shadow: 21px 21px 11px -15px rgba(142,221,145,1);
    box-shadow: 21px 21px 11px -15px rgba(142,221,145,1);
}
 .feature-col{
    margin-top:40px;
}
 .footer-widget p{
    color:#fffff6;
    font-weight: 300;
    float: left;
    margin-top:25px;
    font-family: 'Proxima Nova';
}
/** Contact Us page */
 .banner{
    padding: 100px 0;
}
 .banner h2{
    color: #fff;
    font-weight: 600;
    text-align: center;
}
 .black-btn{
    font-size: 18px;
    padding: 10px 30px;
    border-color:#2d3e50;
    text-transform:initial;
    color:#fff !important;
}
 .contact_form textarea.form-control{
    height: 246px;
    resize: vertical;
}
 .contact_form .form-control{
    height: 40px;
}
 .contact_form {
    padding: 50px 0;
}
 .contact-col{
    background: #f2f2f2;
    -webkit-box-shadow: 0px 0px 25px -1px rgba(100,100,100,1);
    -moz-box-shadow: 0px 0px 25px -1px rgba(100,100,100,1);
    box-shadow: 0px 0px 25px -1px rgba(100,100,100,1);
    /*min-height: 150px;*/
    padding:40px;
    /*width:220px;*/
    text-align: center;
    margin:0px auto;
    border-radius: 18px;
}
 .contact-col i{
    font-size: 30px;
    margin-bottom: 10px;
}
 .contact-col address, .contact-col abbr{
    border-bottom: none;
    display: block;
    color:#565656;
    font-size: 15px;
    margin-bottom: 0px;
}
 .contact-col .fa-map-marker{
    color:#fd5f44;
}
 .contact-col .fa-phone {
    color:#2d3e50;
}
 .contact-col .fa-envelope{
    color:#e8c15b;
}
 .contact_detail {
    margin-top:-30px;
}
 .contact_form iframe{
    width:100%;
}
 .m-r-7{
    margin-right: 7px;
}
 .float-left{
    float: left;
}
/** Notification */
 .single_page_heading{
    color: #585858;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}
 .notification {
    border:1px solid #e4e4e4;
    padding:15px;
    -webkit-box-shadow: 0px 1px 15px 1px #cccccc;
    -moz-box-shadow: 0px 1px 15px 1px #cccccc;
    box-shadow: 0px 1px 15px 1px #cccccc;
}
 .notify-icons .fa{
    color:#686868;
    margin-top:3px;
}
 .notify-des{
    width:82%;
    float: left;
}
 ul.notify-icons{
    float: left;
    padding:0;
    list-style: none;
    width:50px;
}
 .notify-icons li{
    float: left;
    margin-right: 10px;
}
 .notify-icons .fa.fa-envelope{
    color: #00aeef;
}
 .notification p{
    margin:0;
    color:#585858;
}
 .notification span{
    color:#b5b5b5;
}
 .notify-n{
    border-bottom: 1px solid #e4e4e4;
    padding:10px 0;
}
 .learn_more{
    float: left;
    width:100%;
    text-align: center;
    margin-top: 15px;
}
 .learn_more .btn{
    text-transform: inherit;
    padding:14px 40px;
    font-size: 16px;
}
 .package_banner{
    background-image: url("../img/packages.jpg");
    background-position: center center;
}
 .package_banner h2{
    font-weight: normal;
}
 .mlr0{
    margin-left: 0px;
    margin-right: 0px;
}
 .package_email{
    padding:50px 0;
    width:400px;
    margin:0px auto;
}
 .pricing_plan h2{
    text-align: center;
    color:#5d5d5d;
    font-size: 35px;
    margin-bottom: 30px;
}
 .pricing_plan p{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}
 .plans{
    margin-bottom:30px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
    transition: all 0.6s ease 0s;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
    background: #fff;
    border-radius:20px;
    padding:30px 0;
    border:2px solid #cacaca;
    text-align: center;
}
 .pricing_plan h5{
    font-size: 24px;
    font-weight: 600;
    color:#5d5d5d;
}
 .pricing_plan h4{
    color:#1a62da;
    font-size: 36px;
    margin:25px 0;
}
 .pricing_plan h6{
    color:#5d5d5d;
    font-size: 18px;
    margin:25px 0;
}
 .pricing_plan ul{
    width:160px;
    text-align: left;
    margin:0px auto 50px auto;
    padding: 0;
    list-style: none;
}
 .pricing_plan li{
    position:relative;
    color:#737373;
    font-size: 15px;
    margin-bottom: 10px;
}
 .pricing_plan li:before{
    left:-24px;
    top:3px;
    content:"\f00c";
    font:normal normal normal 18px/1 FontAwesome;
    position: absolute;
    color:#33aa58;
}
 .select-btn .btn {
    padding:10px 60px;
    border:2px solid #33aa58;
    color:#33aa58;
    font-weight:600;
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
}
 .plan_detail .row, .meet_agent .row{
    display: flex;
    align-items: center;
}
 .plans:hover{
    transition: all 0.6s ease 0s;
    
    background: -moz-linear-gradient(left, #1a62da 0%, #1c64da 12%, #1f65de 18%, #256de3 35%, #266de1 37%, #276ee4 38%, #276ee2 40%, #2a71e7 48%, #3177e9 62%, #3178ec 64%, #3278ea 65%, #3279ed 66%, #3379eb 69%, #3a80f2 86%, #3a80f0 90%, #3d83f5 97%, #3c82f2 98%, #3d83f3 100%);
    
    background: -webkit-linear-gradient(left, #1a62da 0%,#1c64da 12%,#1f65de 18%,#256de3 35%,#266de1 37%,#276ee4 38%,#276ee2 40%,#2a71e7 48%,#3177e9 62%,#3178ec 64%,#3278ea 65%,#3279ed 66%,#3379eb 69%,#3a80f2 86%,#3a80f0 90%,#3d83f5 97%,#3c82f2 98%,#3d83f3 100%);
    
    background: linear-gradient(to right, #1a62da 0%,#1c64da 12%,#1f65de 18%,#256de3 35%,#266de1 37%,#276ee4 38%,#276ee2 40%,#2a71e7 48%,#3177e9 62%,#3178ec 64%,#3278ea 65%,#3279ed 66%,#3379eb 69%,#3a80f2 86%,#3a80f0 90%,#3d83f5 97%,#3c82f2 98%,#3d83f3 100%);
}
 .plans:hover h5, .plans:hover h4, .plans:hover h6, .plans:hover li{
    color:#fff;
}
 .plans:hover .select-btn .btn{
    background:#fff;
    color:#4085f6;
    border:2px solid #fff;
}
 .plans:hover li:before{
    color:#fff;
}
 .plans h4{
    color:#33aa58;
}
 .about_us{
    margin:40px 0 20px 0;
}
 .plan_detail{
    background: #f8f6f6;
    padding: 70px 0 40px 0;
    margin:40px 0px 70px 0;
}
/*
21 Dec
.ad-box-grid-view .row{
    display: flex;
    flex-wrap: wrap;
}*/
 .about_us h2, .agent-cms-avtar h2 {
    font-weight: 600;
    font-size: 26px;
    margin-top:0;
    margin-bottom: 30px;
}
 .about_us h6 {
    color:#b6b6b6;
    font-size: 15px;
    margin-bottom: 8px;
}
 .about_us p{
    color:#333333;
}
 .about_us img {
    -webkit-box-shadow: 6px 6px 5px 0px rgba(98,110,124,0.68);
    -moz-box-shadow: 6px 6px 5px 0px rgba(98,110,124,0.68);
    box-shadow: 6px 6px 5px 0px rgba(98,110,124,0.68);
}
 .about_more{
    text-align: left;
}
 .meet_agent{
    margin:30px 0px 60px 0 
}
 .meet_agent h2{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
 .meet_agent p{
    text-align: center;
    margin-bottom: 60px;
}
 .agent-detail {
    position: relative;
    text-align: center;
}
 .detail{
    background: #2d3e50;
    padding:15px 15px;
}
 .agent-detail h5{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color:#fff;
}
 .agent-detail span{
    color:#fff;
    font-size: 14px;
}
 .agent-detail ul{
    padding: 0px;
    list-style: none;
    position: absolute;
    top:0;
}
 .agent-detail .fa{
    font-size: 30px;
}
 .agent-detail .fa-facebook-square, .agent_profiles .fa-facebook-square{
    color:#4867aa;
}
 .agent-detail .fa-twitter-square, .agent_profiles .fa-twitter-square{
    color:#1da1f2;
}
 .agent-detail .fa-google-plus-square, .agent_profiles .fa-google-plus-square{
    color:#df5548;
}
 .agent-detail .fa-linkedin-square, .agent_profiles .fa-linkedin-square{
    color:#0084b1;
}
 .single-agent_detail{
    position: relative;
}
 .single-agent_detail h2{
    margin-bottom: 10px;
}
 .agent_profiles{
    padding: 0px;
    margin:20px 0;
    list-style: none;
}
 .agent_profiles li{
    display: inline-block;
    margin-right: 10px;
}
 .agent_profiles .fa{
    font-size: 24px;
}
 .agent-avtar .avtar, .cms-avtar .avtar{
    margin:0px auto;
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius:100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(98,110,124,0.46);
    -moz-box-shadow: 0px 0px 19px 0px rgba(98,110,124,0.46);
    box-shadow: 0px 0px 19px 0px rgba(98,110,124,0.46);
}
/* .avtar img{
    box-shadow: none;
    width:100%;
}*/

.avtar img {
    box-shadow: none;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
 .contact-btn {
    text-transform: inherit;
    font-size: 18px;
    width:100%;
}
 .agent-avtar{
    text-align: center;
    margin-top:-115px;
}
 .agent-detail-manual h2 {
    margin-bottom: 0;
}
 .agent-detail-manual ul {
    margin:20px 0;
}
 .agent-detail-manual li {
    margin:6px 0px;
}
 .agent-detail-manual i {
    margin-right: 10px;
    float: left;
    width:15px;
}
 .agent-detail-manual i.fa-phone {
    font-size:18px;
    color:#213140;
}
 .agent-detail-manual i.fa-envelope {
    font-size:16px;
    color:#e8c15b;
}
 .agent-detail-manual i.fa-map-marker {
    font-size:21px;
    color:#fd5f44;
}
 .agent-detail-manual i.fa-globe {
    font-size:20px;
    color:#aadaff;
}
 .agent-detail-manual table td {
    width:100px;
    padding-bottom: 5px;
    font-size:14px;
}
 .agent-detail-manual {
    margin-bottom: 50px;
}
 .row-width{
    width:86%;
    margin:30px auto 0px auto;
}
 .row-width8 {
    width:76%;
}
 .row-width .form-group, .form-control.select2-container, .form-inline .form-control {
    width:100%;
}
 .form-group.w-70 {
    width:32%;
    padding:0px 0px;
}
 .advance_search .theme-btn{
    margin-top: -8px;
    margin-left: -4px;
    padding:6px 12px;
}

.footer-widget .newsletter, .footer-widget .social-icons {
    float: left;
    width: 100%;
}

.footer-widget .newsletter input {
    padding: 0px 10px;
    border: 1px solid #7d8fa2;
    border-radius: 4px 0 0 4px;
    background: none;
    color: #fff;
    font-size: 14px;
    height: 35px;
    float: left;
    width: calc(100% - 180px);
}

.footer-widget .newsletter button {
    background: #00aeef;
    margin-left: -1px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 25px;
    border: none;
    height: 35px;
    border-radius: 0px 4px 4px 0px; 
    float: left;
    width: 100px;
}

.form-group pre {
    color:#fff;
    margin-bottom: 0;
    padding:0;
    font-size:13px;
    background:none;
    border:0;
    font-family: 'Proxima Nova';
}
 .advance_search .select2-container .select2-choice{
    min-width: auto;
    width:100%;
}

/*
21 Dec
.listing-sec-hdng {
    float: left;
    width: 100%;
    margin: 15px 0;
}*/

.listing-sec-hdng {
    float: left;
    width: 100%;
    padding: 15px 15px;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.listing-sec-hdng .form-group.pull-right {
    margin-bottom: 0;
}

.listing-sec-hdng h3 {
    margin: 0;
}

.img-ftr {
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    background: linear-gradient(0deg, rgba(0,0,0,0.6446953781512605) 25%, rgba(255,255,255,0) 100%);
}

.ads-item-thumbnail .ads-thumbnail .img-ftr .avatar img {
    float: left;
    width: 50px;
    max-height: 50px;
    border-radius: 100%;
}

 .form-group.w-70 .select2-container .select2-choice {
    min-width: auto;
    width:100%;
}
 .advance_search .col-sm-3{
    padding:0px 5px;
}
 .agent-property{
    margin-top: 25px;
}
 .agent-property .avtar {
    width:20%;
    float: left;
    margin-right: 20px;
}
 .advance_search .form-group{
    margin-bottom: 7px;
}
 .agent-property h4{
    margin-bottom: 0;
    font-size:22px;
    font-weight: 500;
}
 .agent-property span{
    display: block;
    margin-bottom: 10px;
}
 .selling-property{
    border-top:1px solid #dedede;
    margin-top:20px;
}
 .green-btn{
    background-color: #33aa58;
    border-color:#33aa58;
}
 .green-btn:hover{
    background-color: #42c56a;
    border-color:#33aa58;
}
 .property-btn .btn{
    float: left;
    padding:10px 18px;
    margin-right:10px;
    text-transform:uppercase;
    font-size:14px;
}
 .m-t-0{
    margin-top:0 !important;
}
 .property_list .row{
    border-bottom:1px solid #dedede;
    padding-bottom: 30px;
    /*
    21 Dec
    margin:30px 0;*/
}
 .property_list .row:last-child{
    border:none;
}
/* Gurcharan styles For property detail page */
 .navigate-area{
    padding:17px 0px 10px 0px;
    border-bottom: 1px solid #c0c5cb;
}
 .navigate-area .address{
    margin-bottom:7px;
}
 .navigate-area .address .title h4{
    font-size:20px;
    font-weight: 600;
    margin-bottom:5px;
}
 .navigate-area .address address{
    display:flex;
    align-items:center;
    margin-bottom:0px;
}
 .navigate-area .address .left,.navigate-area .address .right{
    float:left;
    margin-right:10px;
}
 .navigate-area .address .left .fa-map-marker{
    color:#f26c61;
    font-size:24px;
}
 .navigate-area .address .right p{
    margin:0px;
    font-family:'Proxima Nova';
    line-height:16px;
    color:#000;
}
 .navigate-icons,.navigate-icons ul{
    float:right;
    margin-top: 8px;
}
 .navigate-icons ul li{
    /*box-shadow: 2px 3px 3px 1px #cccccc;*/
    box-shadow: 0px 1px 15px 1px #cccccc;
    float: left;
    margin-top:6px;
    margin-right:10px;
    display: flex;
    padding:0px 12px;
    height: 34px;
    justify-content: center;
    align-items: center;
}
 .navigate-icons .fa{
    font-size:22px;
    margin-right:3px;
}
 .navigate-icons .text{
    font-weight:600;
    color:#000;
    margin-top:4px;
}
 .navigate-icons .icon img{
    width:19px;
    margin-right: 3px;
}
 .pd-featured-area{
    padding-top:30px;
}
 .pd-featured-area img.color-box{
    max-width:460px;
}
 .pd-featured-area .title h4{
    font-size:16px;
    font-weight:600;
    margin:0px 0px 14px 0px;
}
 .description-box{
    margin-top:40px;
}
 .description-box .content .title h3{
    margin-top:0px;
    font-size:20px;
    font-weight:600;
}
 .description-box .content p{
    font-family: 'Proxima Nova';
    color:#000;
}
 .description-box .des-img img{
    width:100%;
}
 .review-section .reviews{
    background-color:#f0f0f0;
    padding:35px;
    border: 1px solid #e5e5e5;
}
 .review-section .reviews .review-text{
    background-color:#ffffff;
    padding:23px;
    border-radius: 17px;
    border: 1px solid #e5e5e5;
}
 .review-section .reviews .review-text p{
    margin:0px;
}
 .author-area .author-img {
    float:left;
}
 .author-area .author-img{
    margin-right:12px;
    width: 75px;
    height: 75px;
    background: #fff;
    border-radius: 100%;
    overflow: hidden;
}
 .author-area .author-img img{
    width:100%;
}
 .author-area .author-info{
    margin-top:7px;
}
 .author-area .author-info .name a{
    font-size:15px;
    font-family:'Roboto', sans-serif;
}
 .author-area .author-info .address, .author-area .author-info .call{
    font-size:12px;
    font-family:'Roboto', sans-serif;
}
 .review-section{
    margin-bottom:60px;
    margin-top:30px;
}
 .review-section .title h3{
    margin-bottom:30px;
    font-size:20px;
}
 .review-section .author-area{
    margin-top:10px;
}
 .review-section form .black-btn{
    float:right;
    padding: 5px 30px;
}
 .review-section .captcha{
    display:flex;
    float:left;
}
 .review-section .captcha p{
    margin:0px;
    width:100px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 15px 1px #cccccc;
}

.review-section .captcha input{
    max-width:100px;
    height:35px;
    margin-left:10px;
    padding:5px;
}

.review-section form .form-group {
    margin-bottom:10px;
}

.review-section form .form-control{
    height:37px;
}

.review-section form #message{
    min-height:98px;
}

.property-color{
    width: 100%;
    border:1px solid #c2c2c2;
    padding:5px;
    box-sizing: border-box;
}

.property-color ul li{
    border:2px solid #000000;
    display: inline-block;
    margin:5px 3px 5px 2px;
    width:28px;
    height: 24px;
}

.property-color .red{
    background-color: #ff0000;
}

.property-color .green{
    background-color: #326e0e;
}

.property-slider{
    margin-top:20px;
    position: relative;
}
/* .property-slider .owl-carousel{
     padding:0px 45px;
}*/

.thumm-sldr {
    margin-top: 10px;
}
 .property-slider .owl-prev,.property-slider .owl-next{
    font-size: 0;
}
 .property-slider .owl-prev:before {
    color:#2d3e50;
    top:55px;
    left:0;
    content:"\f0a8";
    font:normal 30px/1 FontAwesome;
    position: absolute;
}
 .property-slider .owl-next:before {
    color:#2d3e50;
    top:55px;
    right:0;
    content:"\f0a9";
    font:normal 30px/1 FontAwesome;
    position: absolute;
}
 .property_sold-icon .fa{
    font-size:16px;
    margin-right: 6px;
}
 .apartment_link{
    background-color: #2d3e50;
}
 .apartment_link a{
    color: #fff;
}
 .sold_img{
    position: absolute;
    top:20px;
    left:40px;
}
 .related_author_list{
    background:#f0f0f0;
    padding:25px 0 35px 0;
    margin:40px 0 20px 0;
}
 .agent-contact{
    padding:3px 12px;
    font-size:12px;
    margin-top:4px;
}
 .feature_agents .author-area{
    border-bottom:1px solid #c2c2c2;
    margin-top:15px;
    padding-bottom: 10px;
}
 .feature_agents .author-area:last-child{
    border:none;
}
.latest_listing_img {
    width: 90px;
    height: 90px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    object-fit: cover;
}
 .latest_listing_des{
    float: left;
    width:50%;
}
 .latest_listing_des h6{
    margin-bottom: 5px;
}
 .latest_listing_des p{
    color:#2e3430;
    font-size:13px;
    margin-bottom: 10px;
}
 .latest_listing_des span{
    color:#949494;
}
 .latest-list{
    /*
    21 Dec
    margin-top:30px;*/
    float: left;
    width:100%;
    margin-bottom: 30px;
}

.latest-list:last-child {
    margin-bottom: 0;
}

 .property_list .ads-item-thumbnail h4{
    margin-top:0px;
}
 .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    box-shadow: none;
    background-image:none;
    background-color:transparent;
}
/* Gurcharan styles close */
/* --- CMS styles starts here---*/
 .cms-inner-content {
    margin:40px 0;
}
/*.nav>li>a.admin-img {
    padding: 0;
    width: 35px;
    height: 35px;
    background-color: #fff;
}*/
/* .admin-img img{
    width:100%;
    border-radius: 100%;
}*/
.admin-img img {
    float: left;
    margin-top: -5px;
    margin-left: 5px;
    height: 29px;
    display: inline-block;
    border-radius: 100%;
}

.welcome-msg {
    font-size: 13px;
    color: #585858;
    float: left;
    font-weight: normal;
}

.nav>li.welcome{
    margin:10px 10px 0 0;
}

.admin-dropdown{
    padding:0;
    border-radius:0;
}

.dropdown-menu.admin-dropdown>li>a {
    padding:10px 15px;
    font-size:15px;
}
 .dropdown-menu.admin-dropdown>li>a .fa{
    font-size:16px;
    margin-right:8px;
}
 .dropdown-menu.admin-dropdown>li{
    border-bottom: 1px solid #ccc;
}
 .dropdown-menu.admin-dropdown>li:last-child{
    border:none;
}
 .admin-dropdown .fa-caret-up{
    position: absolute;
    right:10px;
    font-size:16px;
    color:#ccc;
    top:-12px;
}
 .small-btn{
    border-radius:3px;
    text-transform:initial;
}
 .admin-dropdown .small-btn {
    margin:10px;
    float: right;
}
 .cms-tabs{
    margin:40px 0;
}
 .cms-tabs li{
    float: none;
}
 .cms-tabs.nav-pills>li.active>a, .cms-tabs.nav-pills>li.active>a:hover, .cms-tabs.nav-pills>li.active>a:focus{
    background-color:#2d3e50;
    border-radius:0px;
}
 .cms-tabs.nav>li>a {
    font-size:18px;
}
 .cms-tabs .fa{
    margin-right: 10px;
}
 .m-t-20{
    margin-top:20px;
}
 .cms-border{
    border-left: 1px solid #ccc;
    padding-left: 40px;
    box-sizing: border-box;
}
 .agent-bio-data h3 {
    margin-top:0;
    text-transform:initial;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
 .agent-bio-data label.control-label{
    font-size:20px;
    text-align: left;
    font-weight: 600;
}
 .agent-bio-data .form-group{
    border-bottom:1px solid #ccc;
    padding-bottom: 15px;
}
 .agent-bio-data p{
    margin-bottom:0;
}
 .account-type li {
    font-size:15px;
    box-shadow:2px 3px 3px 1px #cccccc;
    text-align: left;
    border-radius:5px;
    font-weight: 600;
    padding:10px 15px;
    margin-bottom: 10px;
}
 .btns{
    margin-bottom: 30px;
}
 .agent-bio-data .form-group span{
    font-size:17px;
    font-weight: 500;
}
 .f-right{
    float: right;
}
 .upload-image-scroll{
    height: 160px;
    overflow-y: scroll;
}
 .agent-bio-data .unit-title{
    border:0;
    float: left;
    margin-bottom: 0;
}
 .create-units{
    float: right;
}
 .create-units li{
    /*float: left;*/
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    font-size: 17px;
    margin:10px 0px;
}
 .create-units li a {
    font-weight: 600;
    /*box-shadow:2px 3px 3px 1px #cccccc;*/
    border:1px solid #cccccc;
    font-size: 13px;
    border-radius:5px;
    background-color:#fff;
    padding:5px 12px;
}
 .create-units li a:hover{
    background-color:#2d3e50;
    color:#fff;
}
 .agent-cms-avtar .avtar {
    width:150px;
    height: 150px;
}
 .agent-cms-avtar h2{
    margin-top:25px;
}
 .agent-cms-avtar span{
    display: block;
    font-size:15px;
}
 .m-15{
    margin:15px 0;
}
 .cms-table{
    border:1px solid #ccc;
    background-color:#f5f4f4;
}
 .cms-table.table>thead>tr>th{
    border-bottom: 1px solid #ccc;
}
 .cms-table th, .cms-table td{
    /****** 21 Dec ********/
    /*font-size:16px;*/
    font-size:14px;
}
 .cms-table h6{
    color:#ff958c;
    font-weight: 600;
    /*margin-top: 15px;*/
    margin: 5px 0px;
}
 .property-img{
    float: left;
    /******* 21 Dec **********/
    /*margin-right: 10px;
    width: 120px;
    height: 120px;*/
}

.three-btns-actn .property-img {
    width: 40%;
}

.three-btns-actn .property-img .img-responsive {
    width: 100%;
    padding-right: 10px;
}

.three-btns-actn .float-left {
    width:60%;
}

 .cms-table span{
    /******* 21 Dec **********/
    /*font-size:16px;*/
    font-size:14px;
    display: block;
}
 .cms-table .dropdown span{
    display: inline-block;
}
 .cms-table .dropdown-menu {
    left:auto;
    right: 0;
    min-width: 240px;
    box-sizing: border-box;
    padding:10px 0px 5px 5px;
    /*padding:10px 0px 5px 8px;*/
}
 .cms-table td li{
    float: left;
    margin:0px 5px 5px 0;
}
 .cms-table .dropdown-menu>li>a:hover, .cms-table .dropdown-menu>li>a:focus{
    background-image:none;
    background-color:transparent;
}
 .cms-table .btn-primary:hover, .cms-table .btn-primary:active, .cms-table .btn-primary:focus{
    background-color:#286090 !important;
}
 .cms-table .btn-success:hover, .cms-table .btn-success:active, .cms-table .btn-success:focus{
    background-color:#419641 !important;
}
 .cms-table .btn-danger:hover, .cms-table .btn-danger:active, .cms-table .btn-danger:focus{
    background-color:#c9302c !important;
}
 .cms-table .dropdown-menu .btn{
    color:#fff;
}
 .cms-table .action-btn {
    background-color:#fff;
    border:1px solid #35669b;
    color:#35669b;
    border-radius:5px;
}
.columnOne{
    width:45%;
}
.columnTwo{
    width: 17%;
}
.cms-table .dropdown-menu .btn-xs{
    background-color:#fff;
    color:#000000;
    box-shadow: 0px 0px 7px 0px rgba(98,110,124,0.30);
    border:1px solid #dddcdc;
    font-size:14px;
    font-weight: 500;
    padding:4px 10px;
    border-radius:5px !important;
    margin:0px 5px;
}
 .cms-table .dropdown-submenu {
    position: relative;
}
 .cms-table .dropdown-submenu .dropdown-menu {
    top: 43px;
    left:auto;
    right:0;
    margin-top: -1px;
    min-width: 305px;
}
 .cms-table .property-color{
    padding:0px;
    border:0px;
}
 .cms-edit-table{
    overflow-x: inherit;
    min-height: auto;
}
 .cms-table .dropdown-menu .btn-xs:hover{
    background-color:transparent !important;
}
.all_messages .fa {
    color: #2d3e50;
    margin-top: 0px;
    float: left;
    margin-right: 10px;
    font-size: 18px;
}
 .all_messages .table>tbody>tr>td{
    border:none;
}
 .all_messages .table>tbody>tr{
    border-bottom:1px solid #ccc;
}
 .chat_panel .panel-heading{
    background-color:#2d3e50;
    background-image:none;
}
 .chat_panel .panel-heading h4{
    color:#fff;
    margin:5px 0;
}
 .chat_panel .panel-heading h6{
    color:#fff;
    font-size:13px;
    margin:0;
}
 .chat_panel .avtar {
    width: 50px;
    margin-right: 10px;
    height: 50px;
    border-radius:50%;
    float: left;
    background-color:#fff;
    overflow:hidden;
}
 .chat_panel p{
    color:#000;
    margin:0;
    font-size:14px;
}
 .chat_panel span{
    color:#989797;
    float:right;
    font-size:13px;
    margin-top:5px;
}
 .recieved-msg, .send-msg{
    float: left;
    width:100%;
}
 .received_withd_msg{
    padding:6px;
    margin:8px 0;
    width:57%;
    float: left;
    border-radius:5px;
    background-color:#f5f4f4;
    border:1px solid #e3e3e3;
}
 .send-msg .received_withd_msg {
    float: right;
}
 .input_msg_write{
    margin:20px 0 10px 0;
    float: left;
    width: 100%;
}
 .input_msg_write input{
    width: 88%;
    float: left;
    border-radius:5px;
    padding:20px 10px;
}
 .input_msg_write .black-btn{
    padding:7px 30px;
    border-radius:5px;
}
 .bg-villa{
    width:100%;
    height: 300px;
}
.bg-villa.detail-page-img {
    height: 500px;
    /*object-fit:cover;*/
}
/* .property-slider .item img{
    height: 120px;
}*/

 .cstm-author-list .author-area .author-img {
    margin-right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

 .cstm-author-list .author-area .author-img img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #fff;
}

 .cstm-author-list .author-info {
    float: left;
    width: 100%;
}

 .author-info ul {
    text-align: center;
}

 .map-div-place {
    float: left;
    width: 100%;
    min-height: 350px;
}

.cstm-cover-photo .profile-avatar {
    float: left;
    width: 100%;
}

.cstm-cover-photo .profile-avatar .image_show {
    width: 150px;
    border-radius: 100%;
    height: 150px;
    object-fit: cover;
}

.cstm-cover-photo .buttonText.choose_image {
    margin-left: 15px;
}

/*************** Property Thumbnail Slider *****************/

#thumbs .item {
    /*
    21 Dec
    min-height: 100px;*/
    padding: 0px 5px 0 0;
    text-align: center;
    cursor: pointer;
}

.owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#big.owl-theme {
    position: relative;
}

#big.owl-theme .owl-next, #big.owl-theme .owl-prev {
    /*background: #333;*/
    width: 22px;
    line-height: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
}

#big.owl-theme .owl-prev {
    left: 10px;
}

#big.owl-theme .owl-next {
    right: 10px;
}

#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev {
    background: #333;
}

.big-sldr .item .img-responsive {
    min-height: 315px;
    max-height: 315px;
    object-fit: cover;
}

/*************** Property Thumbnail Slider Ends *****************/

.select-style {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: url(../imgs/arrow-down-64.png);
    background-origin: padding-box;
    background-position: 96% 49%;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.select-style select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f1f1f1;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: none;
    padding: 0px 8px;
    height:35px;
    width: 100%;
}

.select-style label {
    font-weight: bold;
}


/*== 11-27-2018 ==*/
.propertylist-m ul {
    width:100%;
}
.padding-b-3 {
    padding-bottom:3px !important;
}
.open-sold-box {
    background:#fff;
}
.apartmentshow {
    border:0px!important; 
    padding:0px !important; 
    width:auto!important;
}
.apartmentshow-inner {
    border:1px solid #c2c2c2; 
    padding:5px; 
    box-sizing:border-box; 
    float:left; 
    max-height:284px; 
    max-width:448px; 
    overflow-y:auto; 
    overflow-x:auto;
}
div.dataTables_filter input {
    width:auto !important;
}
/*
21 Dec
.agentcredits-list div.dataTables_filter input {
    width:100% !important;
}
*/

/**** 21 Dec ****/
.agents_credits .pagination>li {
    display: inline-block;
    text-align: center;
}
/**** 21 Dec ****/

.btn-info:hover {
    background-color:#3fa7c6!important; 
    background-image:none!important;
}
#invite_agents .table-responsive {
    overflow-x: visible;
}
.popover-title {
    font-size:13px;
}
.pos-raltv {
    position:relative;
}
.pos-raltv .popover {
    top:-98px !important; 
    width:126px; 
    margin-top:0px !important; 
    left:141px !important;
}
.modal-header .close {
    font-size:38px !important; 
    margin-top:-13px!important;
}
.btn-col {
    text-align:right; 
    padding-right:15px!important;
}
.agents_credits #table_id_filter label {
    float:right;
}
/*.agents_credits #table_id_paginate {
    float:right;
}*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #2c3e50; 
    border-color: #2c3e50;
}
.pagination > li > a, .pagination > li > span {
    color:#2c3e50;
}
.pl-pr {
    padding-left:15px!important; 
    padding-right:15px!important;
}

 @media screen and (max-width: 991px) and (min-width: 768px){
     .navbar-brand{
        float: none;
        text-align: center;
    }
     .navbar-header{
        float: none;
    }
     .navbar-header img{
        margin:0px auto;
    }
     .navbar-nav{
        float: none !important;
        margin-top:0 !important;
    }
     #navbar{
        text-align: center;
    }
     .navbar-nav>li{
        float: none;
        display: inline-block;
    }
    /*
    21 Dec
    .search-wrapper .btn{
        margin-top:20px;
    }*/
    /*
    21 Dec
    .admin-profile{
        height: 70px;
        margin-bottom: 20px;
    }*/

    /*
    21 Dec
    .nav>li>a.admin-img{
        margin-bottom: -27px;
        margin-top:0px;
    }*/
}
 @media(max-width:991px) {
     .company_work .col-md-3{
        margin-bottom: 25px;
    }
     .meet_agent .row{
        display: block;
    }
     .agent-detail{
        margin-bottom: 30px;
    }
     .pd-featured-area{
        text-align:center;
    }
     .pd-featured-area .right{
        margin-top:30px;
    }
     .review-section .right{
        padding-top:30px;
        clear:both;
    }
     .description-box .des-img{
        margin-top:30px;
    }
     .property-slider .owl-carousel{
        padding:0px;
    }
     .property_list .ads-item-thumbnail h4{
        margin-top:10px;
    }
     .property-btn .btn{
        margin-top:10px;
    }
     .cms-border{
        padding-left: 15px;
    }
     .input_msg_write input{
        width:80%;
    }
}
 @media(max-width:768px) {
     div.login{
        margin:0px 0 30px 0 
    }
     .contact-col{
        width:100%;
        min-height: auto;
    }
     .contact_detail .col-sm-4{
        margin-bottom: 20px;
    }
     #btnContactUs{
        margin-bottom: 30px;
    }
     .contact_form{
        padding-top: 20px;
    }
     .plan_detail .row{
        display: block;
    }
     .about_more{
        margin-bottom: 30px;
    }
     .avtar {
        width:200px;
        margin:0px auto;
    }
     .agent-avtar{
        margin-bottom: 30px;
    }
     .form-group.w-70 {
        width: 100%;
    }
     .row-width8, .advance_search .theme-btn {
        width:85%;
        margin:0px auto;
    }
     .navigate-icons, .navigate-icons ul {
        float:left;
    }
     .about-us-intro {
        float: left;
        width:100%;
    }
    /*
    21 Dec
    .table-responsive {
        border:none;
    }*/
     .nav>li>a.admin-img {
        margin-left: 10px;
    }
     .nav>li.welcome {
        padding-left: 10px;
    }
     .navbar-nav .open .dropdown-menu.admin-dropdown{
        position: absolute;
        border:1px solid #ccc;
        background-color:#fff;
        left:-96px;
    }
     .navbar-nav .open .dropdown-menu.admin-dropdown>li>a, .navbar-nav .open .dropdown-menu.admin-dropdown .dropdown-header{
        padding:10px 15px 10px 25px;
    }
     .navbar-collapse.in {
        overflow-y: inherit;
    }
     .welcome, .admin-profile {
        float: left;
    }
     .navbar-default .navbar-nav .open .dropdown-menu.admin-dropdown>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu.admin-dropdown>li>a:focus {
        background-color:#e8e8e8;
    }
     .create-units li{
        margin-bottom: 20px;
    }
     .input_msg_write .black-btn{
        margin-top:10px;
    }
     .input_msg_write input{
        width:100%;
    }
}
 @media(max-width:480px) {
     .width-100{
        width:100%;
    }
     .company_work .col-md-3{
        width:100%;
    }
     .ads-thumbnail .price{
        font-size: 14px;
        margin-top: -27px;
    }
     .table.property-box-info td{
        font-size: 12px;
    }
     .view{
        font-size: 11px;
    }
     .col-text{
        margin-left: 58px;
    }
     h3{
        font-size: 20px;
    }
     .company_work .fa{
        font-size: 45px;
    }
     .themeqx-carousel-ads .owl-controls{
        display: none;
    }
     .company_work h4{
        margin-top:0;
    }
     .package_email{
        width:250px;
    }
}
 @media(max-width:420px) {
     .footer-widget img{
        width:100%;
    }
     .navbar-brand img{
        width:100%;
    }
}
 .hidden_div{
     display: none !important;
}

/*style changes 4 nov 2018*/

.cms-table .open-sold-box .btn-xs{
    background-color:#fff;
    color:#000000;
    box-shadow: 0px 0px 7px 0px rgba(98,110,124,0.30);
    border:1px solid #dddcdc;
    font-size:12px;
    font-weight: 500;
    /*padding:4px 10px;*/
    /*border-radius:5px !important;*/
    /*margin:0px 5px;*/
}

.cms-table .open-sold-box .btn-xs.btn-primary {
    background-color: #2d3e50;
    color:#fff;
}

/******** 12 Nov 2018 starts ************/

.btn-div .btn-primary {
    text-transform: capitalize;
    margin: 0 0 15px 0;
}

.credit-div-wrp {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

/*.open-add-credit {
    margin: 0 0 15px 0;
}*/

/*.add-credit-btn {
    width: 100%;
    margin: 0 0 15px 0;
}*/

/*.credit-div-inr {
    margin: 1px 0;
}*/

.btn-div {
    margin: 25px 0 0 0;
}

/******** 12 Nov 2018 ends ************/

/******** 22 Nov developer changes ****/

.developer_add_property{

    padding:50px 360px !important;
}

/******** 22 Nov developer changes ****/

/********* 29 nov invite agents page style ********/

.file {
    visibility: hidden;
    position: absolute;
}
.column-one { 
    width:20%; 
}
.column-two { 
    width:50%; 
}
.column-three { 
    width:40%; 
}
.invite_agents h4{ 
    font-size: 22px; 
    color:#2d3e50; 
    float: left; 
    padding-left:15px;
}
.invite_agents h6{ 
    float: right; 
    color:#000000; 
    padding-right:15px; 
}
.table-responsive{ 
    width:100%; 
}
.invite_agents{ 
    background: #f5f4f4; 
    float: left; 
    width:100%; 
}
.add_staff{
    border-top:1px 
    solid #ddd; 
    padding: 20px 0px 10px 0px;
}
.add_staff h6 {
    float:left; 
    font-size:15px; 
    color:#000000; 
    padding-left:15px; 
    font-weight: 400;
}
.search_agent{ 
    float: right; 
    padding-right:15px; 
}
.search_agent input{
    border:1px 
    solid #d1d0d0; 
    padding:8px 13px;
}
.search_agent button{ 
    background: #213140; 
    border:0; color:#fff; 
    padding:9px 15px; 
    margin-left: -4px; 
}

/********* 29 nov invite agents page style ********/

/********* 8 Dec ***********/
.singl-agnt {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.singl-agnt h4 {
    font-size: 20px;
    color: #333;
    font-weight: 600;
}

.see-agnt-btn-wrp {
    float: left;
    width: 100%;
    margin: 15px 0 0 0;
}

.singl-agnt-img-wrp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    /*padding: 45px;*/
    padding: 20px;
    border: 1px solid #ccc;
}

.plan-flx .select-btn1 .btn {
    outline: none;
}

.img-or-nm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-or-nm img {
    width: 75px;
    border-radius: 100%;
    height: 75px;
    object-fit: cover;
    margin: 0 10px 0 0;
}

.sold_img.img-sld {
    top: 25px;
    left: 125px;
    z-index: 9;
}

.dataTables_length select.form-control.input-sm {
    width: auto;
    height:35px;
}

.dataTables_wrapper div.dataTables_filter input {
    margin-left: 3px;
}

.agents_credits .dataTables_filter label {
    float: right;
}

.agents_credits .dataTables_paginate {
    float: right;
}

.dataTables_paginate .pagination {
    margin:0;
}

.pymnt-pg {
    min-height: auto !important;
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

/*.cstm-tbl-cls {
    table-layout: fixed;
}*/

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("../../assets/img/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

.sold_img.img-sld.side-slider-cstm {
    top: 25px;
    left: 30px;
    z-index: 9;
}
/********* 8 Dec ***********/

/********* 21 Dec **********/

.d-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
}

.form-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
}

.form-flx .form-group {
    -webkit-flex: 1 1 32.33%;
    -ms-flex: 1 1 32.33%;
    flex: 1 1 32.33%;
    min-width: 32.33%;
    max-width: 32.33%;
}

.flx-inr {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.col-text{
    margin-left: 15px;
}

.topContactInfo .nav>li>a {
    padding: 10px 0;
}

.topContactInfo.center-info .nav>li>a {
    padding: 10px 5px;
}

.flx-inr .topContactInfo .navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #2C3E50;
    background-color: #2C3E50;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.feature-img {
    float: left;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.featureflex {
    display: flex;
    flex-wrap: wrap;
}

.featureflexinr {
    width: 44%;
    margin: 2% 2% 2% 0%;
}

.pagination>li>a, .pagination>li>span {
    height:40px;
    width: 40px;
    line-height: 2.8;
    padding: 0px;
}

.agents_credits .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none !important;   
}

.property-img.table-profile-pic .img-responsive {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.topContactInfo .top-nvrght>li>a {
    margin-left: 10px;
}

.agnt-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.agnt-flxinr {
    width: 18%;
    margin: 0 1%;
}

.contact-col span {
    width: 100%;
    display: inline-block;
    color: #565656;
    font-size: 15px;
}

.contact_detail.cntct-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    position: relative;
}

.login-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 10px;
}

.chekbx-div input[type="checkbox"] {
    float: left;
    margin: 3px 5px 0 0;
}

.login-flxinr.chekbx-div {
    font-weight: bold;
}

.plan-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    width: 100%;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}

.active_plans, .plans {
    flex: 0 0 33.33%;
}

.inner-right-sidebar {
    background-color: #ffffff;
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
}

.sidebar-nav li {
    border-bottom: 1px solid #ddd;
}

.cptch-div {
    float: left;
    width: 100%;
}

.cptch-div .help-block {
    color: #a94442;
    font-size: 13px;
    width: 100%;
    float: left;
}

.stripe-button-el {
    background-image: none !important;
    border: 0px !important;
    padding: 6px 12px !important;
    border-radius: 0px !important;
    box-shadow: none;
    background-color: #2d3e50;
    text-transform: uppercase;
}

.stripe-button-el span {
    padding: 0px !important;
}

.pymnt-pg .stripe-button-el span {
    display: block;
    position: relative;
    height: auto;
    line-height: 30px;
    background-image: none; 
    text-shadow: none; 
    box-shadow: none; 
    background: none;
}

.plans:hover .access_key_div p {
    color: #fff;
}

.agent-bio-data .select2-container .select2-choice {
    height: 33px; 
}

.bootstrap-filestyle .buttonText {
    margin-left: 10px;
}

.admn-abt-div.profile-avatar {
    float: left;
    width: 100%;
}

.admn-abt-div .image_show {
    width: 175px;
    height: 175px;
}

.admin-tbl-cls .text-muted {
    margin-bottom: 0px;
    font-size: 14px;
}

.no-data-flex {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 400px;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.admin-api-keyy {
    word-break: break-word;
}

.dataTables_paginate .pagination>li {
    display: inline-block;
    text-align: center;
}

.inr-pg-ttl {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.dataTables_paginate .paginate_button:hover a {
    background-color: #2c3e50;
    color: #fff;
    transition: 0.6s ease all;
}

#page-wrapper .alert {
    float: left;
    width: 100%;
}

.dtble-btn .btn {
    margin: 0 4px 0 0;
}

.btn.btn-primary.edit-btn {
    background-color: #2c3e50;
    border: none;
    margin: 0 0 20px 0;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a {
    background-image: none;
}

.agnt-list-tbl .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent;
    border: 1px solid transparent !important;
}

.agnt-list-tbl .dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: -2px;
}

.user-page-tbl .table {
    width: 100% !important;
}

.apartment_already_requested, .apartment_new_request, .first_apartment_class {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.review-section .paginate-pagination ul > li > a.page {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    font-size: 14px;
    opacity: 1 !important;
    color: #777;
    transition: 0.6s ease all;
}

.review-section .paginate-pagination ul > li > a.page:hover {
    background-color: #2c3e50;
    color:#fff;
    transition: 0.6s ease all;
}

.review-section .paginate-pagination ul > li {
    margin-right: -1px;
}

.review-section .paginate-pagination ul > li > a.page-prev {
    border-radius: 4px 0px 0px 4px;
}

.review-section .paginate-pagination ul > li > a.page-next {
    border-radius: 0px 4px 4px 0px;
}

.mbl-actn-btn {
    display: none;
}

.profile-avatar.edt-aprtmnt-phto {
    margin-bottom: 20px;
    position: relative;
    float: left;
    width: 100%;
}

.profile-avatar.edt-aprtmnt-phto .image_show {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.fld-lbl-nm-wrp {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.fld-lbl-nm-wrp p {
    margin-top: 0;
}

.fld-lbl {
    font-size: 16px;
    font-weight: bold;
}

.creating-ads-img-wrap .img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn.btn-default.otlin-btn {
    font-size: 18px;
    padding: 10px 30px;
}

.modal-footer .btn+.btn {
    margin-left:0px;
}

.owl-nav {
    display: none;
}

.btn.btn-primary.sv-crdit-btn.save_credit_btn {
    width:100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

.latest_listings h3 {
    margin-bottom: 30px;
    margin-top: 10px;
}

.ad-box-wrap .author-info ul {
    text-align: left;
}

#listing_properties .author-info ul {
    text-align: left;
}

.ad-box-wrap .author-area .author-info {
    margin-top: 7px;
    float: left;
    width: calc(100% - 125px);
}

.related_author_list .author-info .address {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.aggnt-desc {
    float: left;
    width: 100%;
    text-align: left;
}

.prprty-lst-tbl {
    table-layout: fixed;
}

.cms-table.prprty-lst-tbl td li {
    float: left;
    margin: 0px 5px 0px 0;
}

.cms-table.prprty-lst-tbl td li:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.cms-table.prprty-lst-tbl .dropdown-menu {
    min-width: max-content;
    padding: 5px 5px 5px 5px;
}

.cms-table .custom-clr-boxes .append_apartments_units_div li {
    margin: 0px 5px 5px 0;
}

.sold-unit.owl-carousel .owl-nav, .available-unit.owl-carousel .owl-nav {
    display: block !important;
}

.sold-unit.owl-theme .owl-nav div, .available-unit.owl-theme .owl-nav div {
    padding: 0;
}

.prprty-lst-vu {
    border-bottom: 1px solid #dedede;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.property_list .prprty-lst-vu .row {
    padding-bottom: 0px;   
}

.three-btns-actn p {
    margin: 0;
    font-size:14px;
}

.cms-table.stf-dtl .dropdown-menu {
    left: 0;
    right: auto;
}

.add-staff-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    padding: 15px;
}

.add-staff-flx h6 {
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    margin: 0px;
}

.ntfction-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
}

.ntfction-flx-inr {
    width: 33.33%;
    max-width: 33.33%;
    flex: 1 1 33.33%;
}

.cms-table .dropdown-menu {
    min-width: max-content;
}

.crdt-flx {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin:0 0 15px 0;
}
/********* 21 Dec **********/
